.select {
  display: flex;
  .ant-select-selector {
    border: none !important;
    background-color: transparent !important;
    padding: 0px;
    box-shadow: none !important;
  }
  .ant-select-selection-item {
    text-align: right;
  }
  .ant-select-arrow {
    color: #000 !important;
  }
  span {
    color: #000;
  }
}

.custom-dropdown {
  .ant-select-item-option {
    color: black; // Màu chữ mặc định cho các item

    &:hover {
      color: black; // Màu chữ khi hover
      background-color: #e8f7fd !important; // Đổi màu nền khi hover
    }
  }
}
